@import "tailwindcss";

:root {
  --background: linear-gradient(90deg, rgb(255, 225, 235), rgb(245, 210, 255));
  --foreground: linear-gradient(90deg, rgb(255, 225, 235), rgb(245, 210, 255));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      90deg,
      rgb(255, 225, 235),
      rgb(245, 210, 255)
    );
    --foreground: rgb(150, 90, 200);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
