.h1 {
  text-align: center;
  font-weight: bolder;
  padding: 0.8rem;
}

.sortingbutton {
  padding: 0.6rem 1.2rem;
  background-color: rgb(150, 90, 200);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "DM Sans";
  padding: 0.5rem 1.5rem;
  min-width: 120px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sortingbutton:hover {
  text-decoration: none;
  background-color: rgb(54, 8, 92);
}

.sortingbuttoncontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.feedcard {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  background: rgb(255, 235, 245);
  border: 2px solid rgb(150, 90, 200);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(150, 90, 200, 0.15);
}

.h2 {
  text-align: center;
  font-weight: bolder;
  padding: 0.8rem;
  background: rgb(255, 235, 245);
  border: 2px solid rgb(150, 90, 200);
  border-radius: 8px;
  margin-top: 0.2rem;
  box-shadow: 0 4px 10px rgba(150, 90, 200, 0.15);
}

.feedcard:hover {
  text-decoration: none;
  background-color: rgb(54, 8, 92);
}
