.database {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background: rgb(150, 90, 200); */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  width: 100%;
  border: solid 5px rgb(150, 90, 200);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.wrapper {
  width: 100%;
}

.input {
  border: solid rgb(150, 90, 200);
  border-radius: 8px;
  background-color: white;
  width: 100%;
}

.button {
  padding: 0.6rem 1.2rem;
  background-color: rgb(150, 90, 200);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "DM Sans";
  padding: 0.2rem 0.5rem;
  min-width: 120px;
  text-align: center;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
  background-color: rgb(54, 8, 92);
}
