.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 2rem;
}
