.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 225, 235), rgb(245, 210, 255));
  padding: 1.5rem 2rem;
  gap: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  opacity: 80%;
}

.image {
  border: solid 2px rgb(150, 90, 200);
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(218, 206, 228, 0.15);
  transition:
    transform 0.25s ease,
    box-shadow 0.25 ease;
}

.h1 {
  font-weight: 800;
  color: rgb(150, 90, 200);
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-left: 3rem;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
}
