.a {
  padding: 0.6rem 1.2rem;
  background-color: rgb(150, 90, 200);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "DM Sans";
  padding: 0.5rem 1.5rem;
  min-width: 120px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.a:hover {
  text-decoration: none;
  background-color: rgb(54, 8, 92);
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
